.pages-wrapper{
    width: 100vw;
    height: 92vh;
    padding-top: 8vh;
    display: grid;
}

.about{
    display: grid;
    grid-template-areas: 'proPict title title'
                         'proPict bio bio'
                         'proPict links links';
    grid-template-columns: 30% 70%;
    grid-template-rows: 25% 45%;
    width: 60%;
    height: 40%;
    margin: auto;
    padding: 1em;
    background-color: var(--primary);
    border-radius: 1em;
}

.about div{
    /* border: white dashed .5px; */
}

.about-title{
    grid-area: title;
    text-transform: capitalize;
    font-size: 2rem;
    display: grid;
    place-items: end left;
}

.profile-picture{
    grid-area: proPict;
    display: grid;
    overflow: hidden;
    place-items: center;
}

.image-wrapper{
    display: grid;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
    width: 85%;
}

.image-wrapper img{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: auto;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.image-wrapper>img:hover{
    transform: scale(1.15);
}

.about-info{
    grid-area: bio;
    font-size: 1rem;
    text-align: justify;
    display: grid;
    place-items: center left;
}

.about-links{
    grid-area: links;
    display: flex;
    align-items: start center;
    font-size: 1.2rem;
    gap: .5em;
}

.about-links a{
    border-radius: 50%;
    /* padding: .2em; */
    border: white .2px solid;
    height: 60%;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
}

.about-info b{
    font-weight: 900;
}
