@import url("/src/index.css");

.parent{
    display: flex;
    justify-content: center;
    place-items: center;
    height: 92vh;
}

.headerImg{
    background-repeat: no-repeat;
    background-size: 102%;
    background-position: center;
    width: 95%;
    height: 95%;
    border-radius: 16px;
    box-shadow: var(--default-shadow-style);
}