@import url("/src/index.css");

.portfolioMenuWrapper{
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
    width: 100vmax;
    justify-content: space-evenly;
}

.container{
    width: 30%;
    min-width: 12em;
    height: auto;
    aspect-ratio: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: var(--default-transition);
    margin: 1em;

}

.container a{
    height: 100%;
    width: 100%;
}

.container:hover{
    transform: scale(1.03) rotate(2deg);
}

.card{
    border-radius: var(--default-border-radius);
    background-color: rgba(0, 0, 0, 0.333);
    overflow: hidden;
    box-shadow: var(--default-shadow-style);
}

.thumbnail{
    height: 90%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title{
    height: 10%;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 2vw, 2rem);
    /* font-size: 1rem; */
    text-transform: uppercase;
}