@import url("/src/index.css");


.hamburgerIcon{
    /* display: none; */
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 50%;
    aspect-ratio: 1/1;
    transition: var(--default-transition);
    padding: 0.3em;
    z-index: 1;
}

.hamburgerIcon:hover{
    background-color: #00000038;
}

.bordered{
    border: var(--default-border);
}