@import url("/src/index.css");

.socialWrapper{
    width: 100%;
    /* height: 95%; */
    display: grid;
    gap: 1fr;
    padding: 1fr;
}

.socialItem{
    /* border: var(--default-border); */
    /* padding: 4em; */
}