@import url("/src/index.css");

nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    z-index: 99;
    background-color: #fcfcf223;
    border-bottom: solid .5px rgba(255, 255, 255, 0.538);
}

main{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: var(--nav-height);
}