nav{
    position: sticky;
    top: 0;
    height: 8vh;
    z-index: 99;
    background-color: transparent;
}

main{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8vh;
}