@import url("/src/index.css");

.wrapper {
    width: 100vw;
    height: 100%;
    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    backdrop-filter: blur(8px);

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 3.5em;
    height: auto;
}

.logo label{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5em;
}

.menu {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.menu li {
    list-style: none;
}

button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    border: rgb(0, 0, 0) solid 1.5px;
    border-radius: 1em;
    padding: 0.4em;

    width: 6vmax;
    cursor: pointer;
    font-size: 95%;

    transition: .3s ease;
    background-color: transparent;
}

button:hover {
    border-color: var(--accent-color);
    color: var(--accent-color);
}