.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(32px);
    height: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-flow: nowrap;
}

.menu {
    display: flex;
    width: 80%;
    gap: 20px;
    justify-content: flex-end;
    padding-inline: 10px;
}

.menu li {
    list-style: none;
}

button {
    border: black solid 1px;
    border-radius: 16px;
    padding: 4px;
    width: 96px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: .3s;
    background-color: transparent;
}

button:hover {
    border: greenyellow 1px solid;
    color: rgb(178, 255, 63);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 22px;
}

/* @media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        align-items: flex-start;
        padding-inline: 0;
    }

    .menu li {
        margin: 5px 0;
    }
} */
