.wrapper{
    backdrop-filter: blur(32px);
    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
    border-bottom: black 1px solid;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; 
}

ul, li{
    display: flex;
    list-style-type: none;
    background-color: transparent;
}

label{
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 500;
}

button{
    border: black solid 1px;
    border-radius: 16px;
    padding: 4px;
    width: 96px;
    cursor: pointer;
    font-size: 16px;
    transition-duration: .3s;
}

button:hover{
    border: greenyellow 1px solid;
    color: rgb(140, 207, 40);
}

input[type="checkbox"] {
    display: none;
}

.logo{
    display: flex;
    align-items: center;
    width: 20%;
    gap: 4px;
    background-color: transparent;
}

.menu{
    width: 80%;
    right: 0;
    gap: 42px;
    justify-content: end;
    padding-inline: 42px;
    /* padding-right: 20vh; */
}