@import url("/src/index.css");

.iconButton {
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.themeIcon {
    border-radius: 50%;
    font-size: 2rem;
    transition: transform 0.3s ease, color 0.3s ease 0.3s;
    position: relative;
    left: 0; 
}