@import url("/src/index.css");

.profileWrapper{
    display: flex;
    justify-content: center;
    place-items: center;
    height: 90%;
    width: 100%;
}

.profileCard{
    width: 70%;
    height: 70%;
    background-color: var(--primary-color);
    border: var(--default-border);
    border-radius: var(--default-border-radius);

    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    align-items: center;
    padding: 2%;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cardContainer{
    position: relative;
    height: 100%;
}

.photo {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.photo::before {
    content: "";
    position: absolute;
    width: 100%; 
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: var(--text-color) 2px dashed;
    animation: rotate 20s linear infinite;
}
@keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}

.photoImg {
    position: relative;
    width: 90%;
    height: auto;
    border-radius: 50%;
    transition: var(--default-transition);
}

.photoImg:hover{
    cursor: pointer;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4%;
    width: 65%;
}

.info .title{
    height: 20%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: start;
    justify-content: center;
    text-transform: capitalize;
}

.info .name{
    width: 100%;
    position: relative;
    font-size: 2.8rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    /* align-items: start;
    justify-content: start; */
}

.info .headline{
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

.info .contentsInfo{
    width: 100%;
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 400;
    height: 40%;
    display: flex;
    align-items: center;
}

.info .interest{
    position: relative;
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}

.info .interest .download:disabled::before {
    content: "Not available yet!";
    position: absolute;
    left: 128px;
    top: 0px;
    background-color: white;
    padding: 4px;
    border-radius: 8px;
    display: none;
    transition: var(--default-transition);
}

.info .interest .download:disabled:hover::before {
    display: flex;
}

/* @media (max-width: 768px) {
    .profileCard {
        flex-direction: column;
        padding: 1.5em;
        gap: 1.5em;
    }

    .photo {
        width: 100%;
    }

    .info {
        width: 100%;
    }

    .photoImg {
        width: 12em;
        height: 12em;
    }

    .photoImg::before {
        top: -6px;
        left: -6px;
        right: -6px;
        bottom: -6px;
    }
}

@media (max-width: 480px) {
    .photoImg {
        width: 10em;
        height: 10em;
    }

    .photoImg::before {
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
    }
} */